:root {
    --travel-white: #FCFCFD;
    --color-c3: #3B3E44;
    --color-c4: #84878B;
    --gray-4F: #4F4F4F;
    --gray-1: #23262F;
    --gray-2: #353945;
    --gray-3: #777E90;
    --gray-4: #B1B5C3;
    --gray-5: #E6E8EC;
    --gray-6: #F4F5F6;
    /* --gray-7: #F4F5F9; */
    --gray-7: #f1f1f1;
    --Neutrals-4: #777E90;
    --primary-color: #3B71FE;
    --white-color: #FFFFFF;
    --text-dark: #000;
}

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    background-color: var(--gray-7);
}


.top-tour,
.travel-card,
.popular-container,
.gem-container,
.footer {
    padding: 0px 20px;
}

/* travel top */

.travel-container {
    max-width: 100%;
    width: 1440px;
}

.travel-top {
    width: 100%;
    padding: 16px 8px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 6px 30px 0px rgba(15, 15, 15, 0.06);
    margin-bottom: 70px;
    position: relative;
}

.travel-top__list-item  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.travel-top__item-link {
    text-decoration: none;
    padding: 9px 30px;
    min-width: 128px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background-color: var(--gray-5);
    color: var(--gray-3);
    cursor: pointer;
}

.travel-top__item-link--active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.travel-top__close {
    position: absolute;
    top: 16px;
    right: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.travel-top__close-icon {

}
/* travel card */

.travel-card {
    width: 1170px;
    max-width: 100%;
    margin: 70px auto;
    border-bottom: 1px solid #C4C4C4;;
}

.card {
    width: 948px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: var(--white-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 56px 30px 28px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.08);
}

.card__image {
    position: relative;
    min-width: 386px;
    height: 302px;
}

.card__image-link {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    background: linear-gradient(3deg, rgba(0, 0, 0, 0.48) 0%, rgba(29, 29, 29, 0.00) 100%);
}

.card__image-next {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    background-color: var(--gray-4);
    opacity: 0.8;
    padding: 8px 12px;
    border-radius: 4px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);;
}

.card__image-next:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.card__body {

}

.card__body-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.card__body-name > h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: var(--text-dark);
}

.card__body-location {
    color: var(--gray-3);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.card__body-review {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__body-review-rating,
.card__body-review-count {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.card__body-review-rating {
    color: var(--color-c3);
}

.card__body-review-count {
    color: var(--color-c4);
}

.card__body-summary,
.card__body-description,
.card__body-date {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.card__body-summary {
    color: var(--gray-3);
    margin: 16px 0px;
}

.card__body-title {
    color: var(--gray-1);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px
}

.card__body-description {
    margin-top: 9px;
    color: var(--gray-3);
    text-align: justify;
}

.card__body-date {
    color: var(--gray-3);
    margin-top: 18px;
}

/* top tour */

.top-tour,
.popular-container {
    width: 1170px;
    max-width: 100%;
    margin: 0px auto 70px;
}

.top-tour__header,
.popular__header,
.gem__header {
    color: var(--text-dark);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 5px;
    margin-bottom: 34px;
}

.top-tour__list {
    --col: 3;
    --gap: 30px;
    --spacing: calc(calc((var(--col) - 1) * var(--gap)) / var(--col));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
} 

.top-tour__item {
    /* width: 370px; */
    width: calc(100% / var(--col) - var(--spacing));
    padding-bottom: 14px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.06);
} 

.top-tour__item-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
} 

.top-tour__item-top-image {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}   

.top-tour__item-top-label {
    position: absolute;
    top: 24px;
    left: 30px;
    background-color: var(--gray-2);
    opacity: 0.8;
    border-radius: 4px;
    padding: 5px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--travel-white);
    font-style: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.top-tour__item-body {
    padding: 20px 20px 0px 20px;
} 

.top-tour__item-name {
    color: var(--gray-1);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.top-tour__item-rating {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top-tour__item-rating-review {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.top-tour__item-star {
    
}

.top-tour__item-rating-review-count,
.top-tour__item-duration {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.top-tour__item-rating-review-count {
    color: var(--color-c3);
    line-height: 27px;
}

.top-tour__item-duration {
    font-size: 14px;
    color: var(--gray-2);
    line-height: 20px;
}

.top-tour__item-btn {
    color: var(--gray-6);
    background-color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px 17px 9px 17px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.top-tour__item-btn:hover {
    opacity: 0.8;
}

/* popular */

.popular-container {

}

.popular__header {

}

.popular__list-item {
    --col: 4;
    --gap: 30px;
    --spacing: calc(calc((var(--col) - 1) * var(--gap)) / var(--col));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
}

.popular__item {
    width: calc(100% / var(--col) - var(--spacing));
    background-color: var(--white-color);
    border-radius: 14px;
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.06);
}

.popular__item-top  {
    position: relative;
    height: 196px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.popular__item-top-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: fill;
}

.popular__item-top-label  {
    position: absolute;
    bottom: 0;
    right: 6px;
    transform: translateY(50%);
    display: inline-flex;
    padding: 4px 18px 5px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--gray-6);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popular__item-body {
    padding: 11px 20px;
} 

.popular__item-date {
    margin-top: 3px;
    color: var(--gray-3);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popular__item-place {
    margin-top: 8px;
    color: var(--gray-2);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
} 

.popular__item-rating {
    margin-top: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    flex-wrap: nowrap;
} 

.popular__item-rating-star {

}

.popular__item-rating-reviews {
    color: var(--gray-2, #4F4F4F);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
} 

/* gem */
.gem-container {
    width: 998px;
    max-width: 100%;
    margin: 0px auto;
    padding-top: 65px;
}

.gem__header {
    text-align: center;
    margin-bottom: 35px;
}

.gem__card-list {
    --col: 2;
    --gap: 30px;
    --spacing: calc(calc((var(--col) - 1) * var(--gap)) / var(--col));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
    padding-bottom: 65px;
} 

.gem__card-item {
    width: calc(100% / var(--col) - var(--spacing));
    padding: 12px;
    border-radius: 14px;
    background-color: var(--white-color);
    box-shadow: 0px 30px 110px 0px rgba(0, 0, 0, 0.08);
    height: 196px;
    position: relative;
}

.gem__card-item-image {
    width: 100%;
    border-radius: 13px;
    height: 100%;
}

.gem__card-wrap {
    position: absolute;
    bottom: 26px;
    left: 30px;
}

.gem__card-title,
.gem__card-date {
    font-style: normal;
    font-weight: 500;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.gem__card-title {
    color: var(--white-color);
    font-size: 24px;
    line-height: 36px;
}

.gem__card-date {
    color: var(--gray-5);
    font-size: 14px;
    line-height: 20px;
}

.gem__button {
    margin: 70px 0px;
    text-align: center;
}

.gem__button-link {
    display: inline-block;
    padding: 9px 40px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.gem__button-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer {
    width: 1100px;
    max-width: 100%;
    margin: 0px auto;
    padding: 68px 0px;
}

.footer-top {
    padding-bottom: 71px;
    border-bottom: 1px solid #C4C4C4;
}

.footer-top-list {
    --gap: 152px;
    --width-first-card: 268px;
    display: flex;
    gap: var(--gap);
}

.footer-top__item:first-child {
    width: var(--width-first-card);
}

.footer-top__item {

}

.footer-top__item-header {
    color: var(--gray-2);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.footer-top__item:first-child > .footer-top__item-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-plane-icon {
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 8px 10px;
}

.footer-plane-title {
    font-weight: 800;
    font-size: 20px;
}

.footer-top__item-body {
    margin-top: 40px;
}

.footer-top__item-desc {
    color: var(--gray-2);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer-top__item-contact {
    margin-top: 30px;
    border-radius: 24px;
    padding: 8px 8px 8px 26px;
    border: 2px solid var(--gray-5);
    display: flex;
    background-color: var(--white-color);
}

.footer-top__item-input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--gray-4);
    flex-grow: 1;
}

.footer-top__item-input-btn {
    background-color: var(--primary-color);
    text-decoration: none;
    display: inline-flex;
    border-radius: 30px;
    width: 23px;
    height: 23px;
}

.footer-top__item-input-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer-top__item > ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-top__item > ul > li {
    color: var(--gray-3);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer-bottom__copy-right {
    color: var(--gray-4);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-bottom__social-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.footer-bottom__social-item {
    width: 20px;
    text-decoration: none;
}

.footer-bottom__social-item:hover {
    cursor: pointer;
    opacity: 0.8;
}
